.container {
    background-color: teal;
    box-shadow: 5px 5px 5px black;
    width: 500px;
    border-radius: 5%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: white;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Caveat', cursive;
}
h1 {
    font-weight: bold;
    font-style: italic;
    font-family: 'Caveat', cursive;
    font-size: 50px;
}
h4 {
    font-size: 10px;
    font-style: italic;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}
